*{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
header{
    width: 100%;
}
#banner {
    width: 100%;
    height: 250px;
    background-image: url(../img/design1_image1.jpg);
    background-size: cover;
    position: relative;
    display: inline-block;
    margin-top: 4%;
    

}


#titulo{
    position: absolute;
    font-size: 140%;
    font-style: italic;
    font: bold;
    top: -35%;
    left: 5%;

}
#sub_titulo{
    position: absolute;
    width: 100%;
    background-color: black;
    color: aquamarine;
    text-align: center;
    
    margin: 0;
    bottom: 0;
}

#logo{
    position: absolute;
    bottom: -180px;
    left: 4%;
    box-shadow: 0 0 10px black;

}
.cuerpo{
    position: relative;
    width: 100%;
}
.cuerpo div{
    height: 33%;

}
.cuerpo nav{
    position: absolute;
    right: 10%;
    top: -290px;
    height: 30px;
    
}
.cuerpo nav div{
    background-color:rgb(74, 74, 250);
    display:inline-block;
    width: 100px;
    height: 30px;
    text-align: center;
    box-shadow: 10px 5px 5px black;
    
    
}
.cuerpo nav div:active{
    background-color: aquamarine;
}
.cuerpo nav div a{
    color: white;
    text-decoration: none;

}

section{
    position: relative;
    transform: translateX(30%);
    width: 65%;
    

}
.hockey{
    position:absolute;
    transform: translateX(30%);
    width: 65%;
    z-index: -10;
    
}
#imagen{
    filter:opacity(50%);
    box-shadow: 10px 5px 5px black;
}
